*{
    border: solid 1px red;
}

body{
    width: 100vw;
    padding: 0;
    margin: 0;
}

.nav{
    display: flex;
    flex-direction: row;
    flex: 0 1 auto;
    justify-content: space-between;
    align-items: center;
}
.leftLinks{
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: right;
    list-style: none;
}
.leftLinks li{
    text-decoration: none;
}